.section1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/sassimage/hair-shaver-usages.jpeg");
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: #fff;
  margin: 0 0 2rem 0;
}
.section2 {
  padding: 0 2rem;
}
.section3 {
}
.section5 {
  background-color: #eef1f8;
}
.section7 {
  background-color: bisque;
  padding: 2rem 0;
}
